
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  /* color: #fff; */
}

header{
  margin: o auto;
}
/* navbar start here */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ff5733;
  margin-left: 5px;
}



.btn{
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
}

.home{
  background-color: #ff5733;
}
.menu-icon{
  display: none;
}

/* section 2 start here */

.hero{
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-sec-1{
height: 50vh;
}

.get-body{
position: static;
width: 50%;
height: 50%;
}

.btn-1{
  color: white;
  background-color: #ff5733;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
}

.btn-2{
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
}
 /* section 2 start here  */
.section-2{
  margin-top: 50px;
  text-align: center;
}
.section-2 h2{
  margin-bottom: 10px;
}
.section-2 p{
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}
.exercise-part{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.exercise-img{
  border-radius: 50%;
}

/* section 3 start here   */

.section-3{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}
.section-3-img{
  width: 350px;
  height: 500spx;
  border-radius: 10px;
  margin: 10px;
  margin-right: 20px;
}

.section-3-h1-p {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.section-3-btn{
  color: white;
  background-color: #ff5733;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
}

/* meet our team section start here  */
.meet-our-team{

  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.team-h1-p > p , h1{
  margin-top: 20px;
  margin-bottom: 10px;

}



.trainer-list{
  margin: 20px 30px;
  position: relative;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 10px;
}

.triner-img{
  position: relative;
  width:100%;
  height: 270px;
  border-radius: 10px;
}

.triner-name{
  opacity: 0.6;
  position: absolute;
  bottom: 5px;
  z-index: 1;
}

/* footer sextion */

footer{
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p , li {
    color: rgba(255, 255, 255, 0.5);
}
li{
  text-decoration: none;
}
h3{
  color: #fff;
}
@media screen and (max-width:576px){
  .logo{
    color: #ff5733;
  }
  .btn{
    display: none;
  }

  .btn-1 , .btn-2,.hero-sec-1 > h1 , p{
  margin: 10px;
  margin-top: 13px;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
    color: #fff;
  }
  .hero  {
    display: flex;
    flex-direction: column;
  }
  .exercise-part{
      display: flex;
      flex-direction: column;
      padding: 50px;
  }
  .hero-sec-2 , {
      display: flex;
      flex-direction: column;
  }

  .get-body{
    width: 100%;

  }
  .img{
    width: 100%;
    padding-top: 50px;
  }
 /* section 3 */
  .section-3{
    display: flex;
    flex-direction: column;
  }
  .section-3-h1-p{
    display: flex;
    align-items: center;
    text-align: center;
  }

  .section-3-h1{
    text-align: center;
  }
  .section-3-btn{
    width: 90%;
  }

  /* meet our team */
  .trainer-list{
  margin: 20px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.team-h1-p > p{
  margin-top: 20px;
  margin-bottom: 30px;

}

.triner-img{
  width:100%;
  height: 270px;
  border-radius: 10px;
}
.triner-name{

}
footer{
  display: flex;
  flex-direction: row;
}
}


